.home{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
 color: rgb(81, 81, 219);
 
}

.lock-img{
    font-size: 90px;
}

button{
    background-color:rgb(58, 58, 214);
    color: white ;
    border-radius: 10px;
    padding: 10px;
    border: none;


}
button:hover{
    color: rgb(12, 12, 12);
    background-color: rgb(137, 137, 176);
    
}
