.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #f7f9fb;
    font-family: "Poppins", sans-serif;
}

.login-card {
    background: #ffffff;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
}


.logo {
    color: #0077ff;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.logo-icon {
    font-size: 1.4rem;
    margin-right: 5px;
}

h2 {
    margin-bottom: 0.3rem;
    color: #222;
}

.subtitle {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 0.3rem;
    color: #333;
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
}


.signin-btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #007bff, #00c6ff);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}



.account-text {
    color: #555;
    margin: 1rem 0 0.5rem 0;
    font-size: 0.9rem;
}


.create-btn {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1.5px solid #00a2ff;
    color: #00a2ff;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.create-btn:hover {
    background-color: #00a2ff;
    color: white;
}